html {
    font-family: Lato;
    margin: 50px;
    background-color: #fff;
}

#keyboard {
    height: 280px;
    margin: 0;
    padding-top: 20px;
    border-radius: 0 0 5px 5px;
}

#wrapper {
    margin: 0 auto;
    width: 880px;
}

#gen {
    width: 880px;
    height: 100px;
    background-color: #f1f1f1;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    font-size: 2em;
    border-radius: 5px 5px 0 0;
}

#button {
    position: relative;
    top: -90px;
    left: -100px;
}

.current {
    background-color: gray;
    color: blue;
}

#gen li {
    list-style: none;
    display: inline-block;
}

#input {
    font-family: Lato;
    width: 880px;
    height: 50px;
    background-color: #e0e0e0;
    box-sizing: border-box;
    font-size: 2em;
    text-align: center;
    border: none;
}

#input:focus {
    outline: none;
}

#stats {
    text-align: center;
}

.title {
    font-size: 2em;
    list-style: none;
    display: inline;
}

#errors {
    float: left;
}

#wpm {
    float: right;
}
